pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
transformers==4.44.2
datasets==2.21.0
torch==2.4.0
accelerate==0.33.0
evaluate==0.4.2
wandb==0.17.7
huggingface-hub==0.24.6
pyyaml==6.0.2
flake8==7.1.1
pytest==8.3.2
